node_modules
**/node_modules

.next
**/.next

.turbo
**/.turbo

dist
**/dist

build
**/build

coverage
**/coverage

.git
.git/**

.env
.env.*
**/.env
**/.env.*

Dockerfile*
docker-compose*.yml

*.log

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.cache
**/.cache